<nav>
  <li>
    <a routerLink="/"> Back to Home </a>
  </li>
  <li>
    <a routerLink="/appTwo"> Angular two app </a>
  </li>
  <li>
    <a routerLink="/appThree"> React One app </a>
  </li>
</nav>

<h1>Hi im app One</h1>

<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li>
      <a routerLink="/appOne/first-component" routerLinkActive="active"
        >First Component</a
      >
    </li>
    <li>
      <a routerLink="/appOne//second-component" routerLinkActive="active"
        >Second Component</a
      >
    </li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->

<router-outlet></router-outlet>
